@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigJohn';
  src: url('BigJohn.eot');
  src: url('BigJohn.eot?#iefix') format('embedded-opentype'),
       url('BigJohn.svg#BigJohn') format('svg'),
       url('BigJohn.ttf') format('truetype'),
       url('BigJohn.woff') format('woff'),
       url('BigJohn.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


*{
	margin: 0px;
	padding: 0px;
}
body{
	margin: 0px;
	padding: 0px;
}
.header{
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../img/bg_header.jpg);
}
.header_icon{
	font-size: 14px;
	color: white;
	font-weight: 600px;
	text-transform: uppercase;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.header_menu{
	display: flex;
	justify-content: flex-end;
	margin-top: 43px;
}
.header_menu li{
	list-style-type: none;
	padding-left: 30px;
}
.header_menu li a{
	color: white;
	font-family: 'BigJohn';
	font-size: 16px;
	text-decoration: none;
}
.header_menu li a:hover{
	border: 3px solid white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;

}
.center_text_header{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	font-family: 'BigJohn';
	word-spacing: 20px;
	margin-top: 200px;
}
.text_center_header{
	color: white;
	text-align: center;
	margin-top: 50px;
	font-family: 'BigJohn';

}
.arrow_header{
	margin-top: 200px;
	margin-bottom: 100px;
}
.section_bouncy{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	margin-bottom: 100px;
}
.bouncy_h5section{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'BigJohn';
	word-spacing: 15px;
	margin-top: 100px;	
}
.text_bouncysection{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
	width: 60%;

}
.btn_bouncy{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
	border:1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 50px;

}
.ipad_bouncy{
	margin-top: 80px;
}
.section_details{
	background-color: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 100px;
}
.details_h5{
	font-family: 'BigJohn';
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;	
}
.text_details_h5{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
	text-align: center;
}
.icons_details{
	display: flex;
	justify-content: center;
}
.icons_details img{
	width: 50px;
	height: 50px;

}
.heart{
	border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px; 
	border-radius: 50px;
	background-color: grey;
}
.heart:hover{
	background-color: #19bd9a;
}
.mouse{
	border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px; 
	border-radius: 50px;
	background-color: grey;
	margin-left: 30px;
}
.mouse:hover{
	background-color: #19bd9a;
}
.lamp{
	border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px; 
	border-radius: 50px;
	background-color: grey;
	margin-left: 30px;
}
.lamp:hover{
	background-color: #19bd9a;
}
.details_ideas{
	font-family: 'BigJohn';
	font-size: 16px;
	margin-top: 100px;
}
.details_text_p{
	font-family: 'BigJohn';
	font-size: 14px;
	margin-top: 50px;

}
.details_text_p span{
	color: #35c1a1;
}
.details_text_p2{
	font-family: 'BigJohn';
	font-size: 14px;
	margin-top: 170px;
	width: 70%;
	float: right;
}
.details_text_p2 span{
	color: #35c1a1;
}
.section_projects{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 100px;
}

.h5_projects{
	text-align: center;
	text-transform: uppercase;
	font-family: 'BigJohn';
	font-size: 16px;

}
.text_projects{
	font-family: 'BigJohn';
	font-size: 14px;
	margin-top: 50px;
	text-align: center;
}
.projects_img{
	padding: 0px;
	border:0;
	margin-top:100px; 
}
.projectsimg3{
	width: 345px;
	height: 300px;
}
.first_project_overlay{
	display: block;
	position: relative;
}
.first_project_overlay:before{
	content: "";
	position: absolute;
	background: rgba(44,44,46,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.first_project_overlay:after{
	content: "";
	position: absolute;
	background: rgba(44,44,46,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.first_project_overlay:hover:after{
	opacity: 0;
}
.first_project_overlay:hover:before{
	opacity: 0;
}
.second_project_overlay{
	display: block;
	position: relative;
}
.second_project_overlay:before{
	content: "";
	position: absolute;
	background: rgba(44,44,46,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.second_project_overlay:after{
	content: "";
	position: absolute;
	background: rgba(44,44,46,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.second_project_overlay:hover:after{
	opacity: 0;
}
.second_project_overlay:hover:before{
	opacity: 0;
}
.third_project_overlay{
	display: block;
	position: relative;
}
.third_project_overlay:before{
	content: "";
	position: absolute;
	background: rgba(44,44,46,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.third_project_overlay:after{
	content: "";
	position: absolute;
	background: rgba(44,44,46,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.third_project_overlay:hover:after{
	opacity: 0;
}
.third_project_overlay:hover:before{
	opacity: 0;
}
.projects_img div{
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0;	
}
.first_vintage{
	position: absolute;
	left: 40%;
	top: 50%;
	font-size: 16px;
	font-family: 'BigJohn';
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	opacity: 1;
}
.first_project_overlay:hover .first_vintage{
	opacity: 0;
}
.second_vintage{
	position: absolute;
	left: 40%;
	top: 50%;
	font-size: 16px;
	font-family: 'BigJohn';
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	opacity: 1;
}
.second_project_overlay:hover .second_vintage{
	opacity: 0;
}
.third_vintage{
	position: absolute;
	left: 40%;
	top: 50%;
	font-size: 16px;
	font-family: 'BigJohn';
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	opacity: 1;
}
.third_project_overlay:hover .third_vintage{
	opacity: 0;
}
.bg_project{
	width: 1345px;
}
.background_projects{
	position: relative;
	display: block;
}
.background_projects:after{
	content: "";
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(28,168,138, 0.5);
}
.background_projects:before{
	content: "";
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(28,168,138, 0.5);
}
.background_projects:hover:before{
	opacity: 1;
}
.background_projects:hover:after{
	opacity: 1;
}
.overlay_backgrond_project div{
	display: inline-block;
}
.overlay_bg_projects{
	position: absolute;
	color: white;
	font-size: 14px;
	font-family: 'BigJohn';
	left: 10%;
	top: 40%;
	opacity: 0;
}
.background_projects:hover .overlay_bg_projects{
	opacity:1; 
}
.overlay_btnproject{
	position: absolute;
	color: white;
	font-size: 14px;
	font-family: 'BigJohn';
	left: 82%;
	top: 34%;
	border:2px solid white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
	background-color: transparent;
	opacity: 0;


}
.background_projects:hover .overlay_btnproject{
	opacity: 1;
} 
.section_service{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	margin-bottom: 200px;
}
.h5_sevice_center{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'BigJohn';
	text-align: center; 
}
.text_service_center{
	font-size: 14px;
	font-family: 'BigJohn';
	text-align: center;
	margin-top: 50px;
}
.icons_service{
	margin-top: 100px;
}
.icons_service img{
	width: 50px;
	height: 50px;
}
.icons_service div img{
	border: 1px solid #81868e;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #81868e;
	border-radius: 50px;
}
.icon_service_key:hover{
	background-color: #19bd9a;
}
.icon_service_grafic:hover{
	background-color: #19bd9a; 
}
.icon_service_controller:hover{
	background-color: #19bd9a; 
}
.icon_service_cord:hover{
	background-color: #19bd9a;
}
.icon_service_grafic{
	margin-top: 20px;
}
.icon_service_controller{
	margin-top: 20px;
}
.icon_service_cord{
	margin-top: 20px;
}
.first_about_service{
	float: left;
	display: none;
	margin-top: 100px;
}
.h5_programming{
	font-weight: bold;
	color: black;
	font-size: 16px;
	font-family: 'BigJohn';
}
.text_about_programming{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.text_about_programming1{
	font-size: 14px;
	font-family: 'BigJohn';
}
.h5_graphic{
	font-weight: bold;
	color: black;
	font-size: 16px;
	font-family: 'BigJohn';
}
.text_about_graphic{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.text_about_graphic1{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.second_about_servicegraphic{
	display: none;
	margin-top: 100px;
}
.h5_usebilliti{
	color: black;
	font-weight: bold;
	font-size: 16px;
	font-family: 'BigJohn';
}
.text_about_usebilliti{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.text_about_usebilliti1{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.third_about_serviceusebiliti{
	display: none;
	margin-top: 100px;	
}
.h5_serviceseo{
	font-weight: bold;
	color: black;
	font-size: 16px;
	font-family: 'BigJohn';
}
.text_about_seo{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.text_about_seo1{
	font-size: 14px;
	font-family: 'BigJohn';
	margin-top: 50px;
}
.fourth_about_serviceseo{
	display: none;
	margin-top: 100px;
}
.programming_diagram{
	margin-top: 35%;
	text-align: center;
	display: none;
	justify-content: center;
}
.graphic_diagram{
	margin-top: 35%;
	text-align: center;
	display: none;
	justify-content: center;
}
.usabiliti_diagram{
	margin-top: 35%;
	text-align: center;
	display: none;
	justify-content: center;
}
.seo_diagram{
	margin-top: 35%;
	display: none;
	justify-content: center;
}